@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
}
.bg-smoot {
    background-color: #baffc0;
}

#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: #baffc0;
    transition: all 0.6s ease-out;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #ffffff;
    border-color: #188754 transparent #188754 transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: animate-preloader 1.5s linear infinite;
}
@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
/*
#preloader {
    margin: auto;
    border: 20px solid #eaf0f6;
    border-radius: 50%;
    border-top: 20px solid #188754;
    width: 100px;
    height: 100px;
    animation: spinner 3s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
*/
/* Aturan media untuk layar dengan lebar maksimal 1200px */
@media (max-width: 1200px) {
    .responsive {
        max-width: 75%;
    }
    iframe {
        width: 80vw;
        max-width: 600px;
    }
}

/* Aturan media untuk layar dengan lebar maksimal 992px */
@media (max-width: 992px) {
    .responsive {
        max-width: 70%;
    }
    iframe {
        width: 70vw;
        max-width: 500px;
    }
}

/* Aturan media untuk layar dengan lebar maksimal 768px */
@media (max-width: 768px) {
    .responsive {
        max-width: 60%;
    }
    iframe {
        width: 60vw;
        max-width: 450px;
    }
}

/* Aturan media untuk layar dengan lebar maksimal 675px */
@media (max-width: 675px) {
    .responsive {
        max-width: 50%;
    }
    iframe {
        width: 50vw;
        max-width: 400px;
    }
}

/* Aturan media untuk layar dengan lebar maksimal 480px */
@media (max-width: 480px) {
    .responsive {
        max-width: 100%;
    }
    iframe {
        width: 90vw;
        max-width: 300px;
    }
}
