@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background-color: whitesmoke;
}
.bg-smoot {
    background-color: #baffc0;
}
nav {
    backdrop-filter: blur(8px);
}
.container a {
    color: black;
    font-weight: 600;
}

.container button span {
    color: black;
}
.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: none;
    border: none;
    box-shadow: none;
}

/* class="navbar-toggler-icon" */
.navbar-toggler span {
    display: block;
    background-color: #4f4f4f;
    height: 3px;
    width: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    position: relative;
    left: 0;
    opacity: 1;
    transition: all 0.35s ease-out;
    transform-origin: center left;
}

/* start */
.navbar-toggler span:nth-child(1) {
    margin-top: 0.3em;
}

/* span x  */
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    transform: translate(15%, -33%) rotate(45deg);
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    transform: translate(15%, 33%) rotate(-45deg);
}

.navbar-toggler span:nth-child(1) {
    transform: translate(0%, 0%) rotate(0deg);
}

.navbar-toggler span:nth-child(2) {
    opacity: 1;
}

.navbar-toggler span:nth-child(3) {
    transform: translate(0%, 0%) rotate(0deg);
}

/* .box-shadow {
    box-shadow: 0px 0px 2px 0px 0.5px black;
} */

#preloader {
    position: fixed;
    inset: 0;
    z-index: 999999;
    overflow: hidden;
    background: #baffc0;
    transition: all 0.6s ease-out;
}
#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #ffffff;
    border-color: #188754 transparent #188754 transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: animate-preloader 1.5s linear infinite;
}

#preloader img {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    width: 150px;
    animation: animate-preloader-img 1.5s linear infinite;
}
@keyframes animate-preloader-img {
    0% {
        opacity: 0.5;
        transform: scale(0.7);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
/*
loding versi pertama 
#preloader {
    margin: auto;
    border: 20px solid #eaf0f6;
    border-radius: 50%;
    border-top: 20px solid #188754;
    width: 100px;
    height: 100px;
    animation: spinner 3s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
*/

@media (max-width: 1200px) {
    .responsive {
        max-width: 75%;
    }
    iframe {
        width: 80vw;
        max-width: 600px;
    }
}

@media (max-width: 992px) {
    .responsive {
        max-width: 70%;
    }
    iframe {
        width: 70vw;
        max-width: 500px;
    }
}

@media (max-width: 768px) {
    .responsive {
        max-width: 60%;
    }
    iframe {
        width: 60vw;
        max-width: 450px;
    }
}

@media (max-width: 675px) {
    .responsive {
        max-width: 50%;
    }
    iframe {
        width: 50vw;
        max-width: 400px;
    }
}

@media (max-width: 480px) {
    .responsive {
        max-width: 100%;
    }
    iframe {
        width: 90vw;
        max-width: 300px;
    }
}
